/*
Primary Colour: #1a733f
Secondary Colour: #8dd1e8
Accent Colour: #73231a
Font Family: Merriweather Sans, Roboto Sans
*/
/* FONTS */
@font-face {
  font-family: 'Merriweather Sans';
  src: url('../fonts/merriweather-sans-v10-latin_latin-ext-300.eot');
  src: url('../fonts/merriweather-sans-v10-latin_latin-ext-300.eot?#iefix') format('embedded-opentype'), url('../fonts/merriweather-sans-v10-latin_latin-ext-300.woff') format('woff'), url('../fonts/merriweather-sans-v10-latin_latin-ext-300.woff2') format('woff2'), url('../fonts/merriweather-sans-v10-latin_latin-ext-300.ttf') format('truetype'), url('../fonts/merriweather-sans-v10-latin_latin-ext-300.svg#../fonts/merriweather-sans-v10-latin_latin-ext-300') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Merriweather Sans';
  src: url('../fonts/merriweather-sans-v10-latin_latin-ext-300italic.eot');
  src: url('../fonts/merriweather-sans-v10-latin_latin-ext-300italic.eot?#iefix') format('embedded-opentype'), url('../fonts/merriweather-sans-v10-latin_latin-ext-300italic.woff') format('woff'), url('../fonts/merriweather-sans-v10-latin_latin-ext-300italic.woff2') format('woff2'), url('../fonts/merriweather-sans-v10-latin_latin-ext-300italic.ttf') format('truetype'), url('../fonts/merriweather-sans-v10-latin_latin-ext-300italic.svg#../fonts/merriweather-sans-v10-latin_latin-ext-300italic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-600-Semi.eot');
  src: url('../fonts/Jost-600-Semi.eot?#iefix') format('embedded-opentype'), url('../fonts/Jost-600-Semi.woff') format('woff'), url('../fonts/Jost-600-Semi.woff2') format('woff2'), url('../fonts/Jost-600-Semi.ttf') format('truetype'), url('../fonts/Jost-600-Semi.svg#../fonts/Jost-600-Semi') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Jost';
  src: url('../fonts/Jost-700-Bold.eot');
  src: url('../fonts/Jost-700-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Jost-700-Bold.woff') format('woff'), url('../fonts/Jost-700-Bold.woff2') format('woff2'), url('../fonts/Jost-700-Bold.ttf') format('truetype'), url('../fonts/Jost-700-Bold.svg#../fonts/Jost-700-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  background-color: #f8f8ff;
  font-family: 'Merriweather Sans';
  font-size: 1em;
}
h1,
h2 {
  font-family: 'Jost';
  font-weight: 700;
}
.nav-top {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1a733f;
  color: #ffffff;
  z-index: 1;
  font-family: 'Jost';
  font-weight: 700;
}
.nav-top a {
  color: #ffffff;
  text-decoration: none;
}
.nav-part {
  float: left;
  width: calc(100%/4);
  box-sizing: border-box;
  padding: 10px;
  text-transform: uppercase;
  text-align: center;
}
.nav-part:hover {
  cursor: pointer;
  background-color: #183824;
}
.content {
  width: 100%;
}
.full-body {
  height: calc(100vh);
  background: url('../fff_strike.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 500px;
}
.cta {
  border: none;
  border-radius: 3px;
  padding: 10px;
  width: 280px;
  background-color: #1a733f;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Jost';
  font-weight: 600;
}
.cta:hover {
  color: rgba(255, 255, 255, 0.56);
}
.logo-center {
  float: left;
  position: relative;
  top: 50%;
  left: 50%;
  width: 280px;
  transform: translate(-50%, -50%);
}
.logo-center img {
  width: 100%;
  height: auto;
}
.full-body-read-more {
  float: left;
  position: absolute;
  bottom: 0%;
  left: 50%;
  padding: 20px 20px 10px 20px;
  box-sizing: border-box;
  text-align: center;
  transform: translate(-50%, 0);
  color: #ffffff;
  cursor: pointer;
  background-color: #1a733f;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.full-body-read-more:hover {
  color: rgba(255, 255, 255, 0.56);
}
.main-content {
  padding: 20px;
  box-sizing: border-box;
}
.wrapper {
  max-width: 900px;
}
.wrapper,
.footer-wrapper {
  overflow: auto;
  margin: 0 auto;
}
.footer {
  background-color: #222222;
  color: rgba(255, 255, 255, 0.7);
}
.footer-wrapper {
  max-width: 280px;
}
.footer-content {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 8.72px;
}
.footer-social-container {
  margin-bottom: 10px;
}
.footer-social {
  margin: 0 5px;
}
a.footer-social {
  text-decoration: none;
}
.social-facebook {
  color: #3b5998;
}
.social-facebook:hover {
  color: #8b9dc3;
}
.social-twitter {
  color: #1DA1F2;
}
.social-twitter:hover {
  color: #F5F8FA;
}
.social-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-instagram:hover {
  background: radial-gradient(circle at 33% 100%, #ff3be7 4%, #ff3be7 28%, #03ffe8 62%, #F15245 85%, #FED373);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.videoWrapper {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
